# OS
.DS_Store/
thumbs.db
time-travel.*

# IDE
.vscode/
.vs/
.idea/
*.iml

# Rust
target/
Cargo.lock


# Node
node_modules/
dist/
*.node
*.wasm
*.txt
*.log
*.exe

# llvm-cov local outputs
coverage-summary.txt
lcov.info
coverage-html/

